:root {
  /*Base Styling Customs*/
  --input-border-rounded: 0.25vw;
  --input-border-rounded-mobile: 1vw;
  --light-mode-background: hsl(0, 0%, 99%);
  --light-mode-input: hsl(0, 0%, 50%);
  --light-mode-text: hsl(200, 15%, 8%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --dark-mode-elements: hsl(209, 23%, 22%);
  --drop-shadow: drop-shadow(0 0 0.55rem rgba(88, 88, 88, 0.137));

  /*Accessibility & Interactivity Customs*/
  --input-focus: hsl(198, 100%, 92%);
  --button-hover: hsl(198, 78%, 25%);
  --invalid-notification: hsl(204, 100%, 26%);
  --invalid-response: hsl(49, 100%, 60%);
  --valid-response: hsl(145, 81%, 39%);
  --drop-shadow-focus: drop-shadow(0 0 0.35rem rgba(0, 225, 255, 0.205));
}

/*DETAILS 'PAGE'=============================*/
#back-button-container {
  margin-top: 2vw;
  margin-bottom: 4vw;
}

#back-button {
  padding: 0.5vw 2.5vw;
  background-color: white;
  border-color: transparent;
  border-radius: var(--input-border-rounded);
  filter: var(--drop-shadow);
}

#detail-information-container h2 {
  font-weight: normal;
}

#flag-img {
  background-color: rgb(211, 211, 211);
  height: 22vw;
  width: 35vw;
}

#detail-country-name {
  font-size: 2rem;
  font-weight: 800;
}

#detail-panel-bottom {
  margin-top: 2vw;
}

a.detail-border-country {
  margin: 0.5vw;
  padding: 0.25rem 2rem;
  width: fit-content;
  background-color: white;
  border-radius: var(--input-border-rounded);
  border: 2px solid var(--light-mode-background);
  filter: var(--drop-shadow);
}

button.detail-border-country {
  background-color: transparent;
  border: none;
}

.detail-border-country:hover {
  outline: 2px solid var(--invalid-notification);
  filter: var(--drop-shadow-focus);
  cursor: pointer;
}

/*Responsive Adjustments*/

/*TABLETS / MEDIUM SIZE*/
@media (1560px >=width >=560px) {

  /*DETAILS PAGE*/
  #flag-img {
    height: 25vw;
    width: 35vw;
    margin-bottom: 10vw;
  }

  #detail-image-container h2 {
    height: fit-content;
  }

  .detail-border-country {
    font-size: 0.7rem;
    padding: 0.25vw 2vw;
    margin-left: 3vw;
    width: fit-content;
  }
}

/*MOBILE SMALL*/
@media (max-width: 550px) {

  /*DETAILS PAGE*/
  #back-button-container {
    margin-top: 11vw;
    margin-bottom: 15vw;
  }

  #flag-img {
    height: 52vw;
    width: 75vw;
    margin-bottom: 10vw;
  }

  #detail-country-name {
    font-size: 1.5rem;
  }

  #detail-information-container h2 {
    font-size: 1rem;
  }

  #detail-panel-bottom {
    margin-top: 8vw;
  }

  .detail-border-country {
    font-size: 0.9rem;
    padding: 0.25vw 2vw;
    margin-left: 3vw;
    width: fit-content;
  }
}