:root {
  /*Base Styling Customs*/
  --input-border-rounded: 0.25vw;
  --input-border-rounded-mobile: 1vw;
  --light-mode-background: hsl(0, 0%, 99%);
  --light-mode-input: hsl(0, 0%, 50%);
  --light-mode-text: hsl(200, 15%, 8%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --dark-mode-elements: hsl(209, 23%, 22%);
  --drop-shadow: drop-shadow(0 0 0.55rem rgba(88, 88, 88, 0.137));

  /*Accessibility & Interactivity Customs*/
  --input-focus: hsl(198, 100%, 92%);
  --button-hover: hsl(198, 78%, 25%);
  --invalid-notification: hsl(204, 100%, 26%);
  --invalid-response: hsl(49, 100%, 60%);
  --valid-response: hsl(145, 81%, 39%);
  --drop-shadow-focus: drop-shadow(0 0 0.35rem rgba(0, 225, 255, 0.205));
}



/*MAIN CONTENT===============================*/

/*Interaction Query Container*/
#interaction-query-container {
  margin: 0 0.5vw;
  padding: 2vw 0;
}

#country-search-bar {
  width: 35vw;
  height: 3vw;
  padding-left: 1vw;
  border-color: transparent;
  border-radius: var(--input-border-rounded);
}

#country-search-bar-button{
  padding: 1rem;
  border: none;
  border-radius: var(--input-border-rounded);
  background: linear-gradient(rgb(182, 240, 106), rgb(36, 192, 101), rgb(80, 190, 241));
}

#country-search-bar-button:hover{
  transform: scale(1.05);
}

#region-select {
  height: 3vw;
  width: 10vw;
  padding-left: 1vw;
  margin-left: -3vw;
  border-color: transparent;
  border-radius: var(--input-border-rounded);
  appearance: none;
}
option {
  display: flex;
  border: transparent;
}

select option:last-of-type {
  border-radius: 5vw;
}

/*Cards*/
ul {
  gap: 4vw 0;
}
.card {
  width: 16vw;
  height: fit-content;
  margin-right: 4vw;
  padding: 0;
  border: none;
  filter: var(--drop-shadow);
  opacity: 0.8;
}
.card:hover {
  outline: 2px solid var(--invalid-notification);
  filter: var(--drop-shadow-focus);
  cursor: pointer;
  opacity: 1;
  transform: translateY(-20px);
}

.card-img-top {
  height: 9.5vw;
  background-color: rgb(211, 211, 211);
}
.card-body {
  padding: 1vw;
}

/*Responsive Adjustments*/

/*TABLETS / MEDIUM SIZE*/
@media (1560px >= width >= 560px) {
  /*Interaction Bar*/
  #interaction-query-container {
    margin: 0 0.5vw;
    padding-top: 2vw;
  }
  #country-search-bar {
    width: 45vw;
    height: 5vw;
    font-size: 1rem;
  }
  #region-select {
    height: 5vw;
    width: 15vw;
    padding-left: 1vw;
    margin-left: -11vw;
    font-size: 0.85rem;
  }
  /*Cards*/
  .card {
    width: 20vw;
    height: auto;
  }
  .card-img-top {
    height: 12vw;
  }

  .card-body {
    font-size: 0.7rem;
  }
}

/*MOBILE SMALL*/
@media (max-width: 550px) {
  /*Interaction Query Container*/
  #interaction-query-container {
    padding-top: 3vw;
  }
  #country-search-bar {
    width: 80vw;
    height: 10vw;
    margin-bottom: 10vw;
    margin-top: 3vw;
    border-radius: var(--input-border-rounded-mobile);
  }
  #region-select {
    height: 13vw;
    width: 50vw;
    margin: 0;
    border-radius: var(--input-border-rounded-mobile);
  }

  /*CARDS*/
  .card {
    width: 61vw;
    height: auto;
    margin: auto 0 10.5vw 5vw;
  }

  .card-img-top {
    height: 36vw;
  }
  .card-body {
    font-size: 1rem;
    padding: 5vw;
  }
}
