:root {
  /*Base Styling Customs*/
  --input-border-rounded: 0.25vw;
  --input-border-rounded-mobile: 1vw;
  --light-mode-background: hsl(0, 0%, 99%);
  --light-mode-input: hsl(0, 0%, 50%);
  --light-mode-text: hsl(200, 15%, 8%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --dark-mode-elements: hsl(209, 23%, 22%);
  --drop-shadow: drop-shadow(0 0 0.55rem rgba(88, 88, 88, 0.137));

  /*Accessibility & Interactivity Customs*/
  --input-focus: hsl(198, 100%, 92%);
  --button-hover: hsl(198, 78%, 25%);
  --invalid-notification: hsl(204, 100%, 26%);
  --invalid-response: hsl(49, 100%, 60%);
  --valid-response: hsl(145, 81%, 39%);
  --drop-shadow-focus: drop-shadow(0 0 0.35rem rgba(0, 225, 255, 0.205));
}

#root {
  height: 100%;
  margin: 0;
  text-align: center;
  width: 100vw;
}

/*DARK MODE | THEME=============================*/
main.dark,
body.dark {
  background-color: var(--dark-mode-background);
  color: white;
}

header.dark,
.card.dark,
input.dark,
select.dark,
button.dark,
#back-button.dark {
  background-color: var(--dark-mode-elements);
  color: white;
}

/*ACCESSIBILITY & INTERACTIVITY=============================*/
input:focus,
button:focus {
  background-color: var(--input-focus);
  filter: var(--drop-shadow-focus);
  outline: 2px solid var(--invalid-notification);
}

select:focus {
  filter: var(--drop-shadow-focus);
  outline: 2px solid var(--invalid-notification);
}
#back-button:hover,
#back-button.dark:hover,
#theme-toggler:hover {
  background-color: var(--button-hover);
  color: white;
}

input:user-invalid {
  outline: 3px solid var(--invalid-response);
}

#search-error {
  color: var(--invalid-notification);
  font-style: italic;
  margin-top: 1vw;
  padding-left: 0.5vw;
}

/*FONT=============================*/
body {
  font-family: "Nunito Sans", Verdana, Geneva, Tahoma, sans-serif;
  max-width: 100vw;
}
h1 {
  font-size: 1.5rem;
  font-weight: 800;
}
h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

/*HEADER=====================================*/
header {
  background-color: white;
  filter: var(--drop-shadow);
  padding: 0 8vw;
}

#header-content-container {
  height: 4vw;
  width: 100%;
}
#theme-toggler {
  background-color: transparent;
  border-radius: var(--input-border-rounded);
  border: transparent;
  padding: 0.5vw 1vw;
}
#toggle-text {
  font-weight: 600;
}

/*MAIN CONTENT===============================*/
main {
  background-color: var(--light-mode-background);
  padding: 0 8vw;
  height: 100%;
}

/*Responsive Adjustments*/
/*TABLETS / MEDIUM SIZE*/
@media (1560px >= width >= 560px) {
  /*FONT=============================*/
  h1 {
    font-size: 1.25rem;
    font-weight: 800;
  }
  h2 {
    font-size: 0.85rem;
    font-weight: bold;
  }
  /*MAIN*/
  main {
    padding-left: 13vw;
  }
}

/*MOBILE SMALL*/
@media (max-width: 550px) {
  /*FONT*/
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  /*HEADER*/
  #header-content-container {
    height: 20vw;
    padding-top: 2vw;
  }
  #theme-toggler {
    border-radius: 5vw;
    padding-top: 3vw;
    padding-right: 2vw;
  }
}
